.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  margin: 0 auto;
  min-height: 100vh;
  padding: 0 30px;
  box-sizing: border-box;
}

.profile__title {
  margin: 0 0 123px;
  padding: 0;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000;
}

.profile__form {
  width: 100%;
  max-width: 410px;
}

.profile__fieldset {
  border: none;
  margin: 0 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile__fieldset:first-child {
  border-bottom: 1px solid #424242;
}

.profile__fieldset:last-of-type {
  margin-bottom: 220px;
}

.profile__label {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: #000;
}

.profile__input {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  text-align: right;
  color: #000;
  background: none;
  border: none;
  outline: none;
}

.profile__input::placeholder {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  text-align: right;
  color: #000;
}

.profile__btn-edit {
  display: block;
  width: 100%;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #000;
  background: none;
  border: none;
  cursor: pointer;
  margin-bottom: 16px;
}

.profile__btn-edit:hover {
  text-decoration: underline;
}

.profile__btn-edit:disabled {
  cursor: not-allowed;
  color: #8b8b8b;
}

.profile__btn-edit:disabled:hover {
  text-decoration: none;
}

.profile__btn-logout {
  display: block;
  width: 100%;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #ee3465;
  background: none;
  border: none;
  cursor: pointer;
  margin-bottom: 16px;
}

.profile__btn-logout:hover {
  text-decoration: underline;
}

.profile__form-error {
  color: #ee3465;
  text-align: center;

  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
}

.profile__form-done {
  color: #3DDC84;
  text-align: center;

  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
}