.form {
  width: 100%;
}

.form__fieldset {
  margin: 0 0 18px;
  padding: 0;
  border: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.form__fieldset:last-of-type {
  margin-bottom: 150px;
}

.form__label {
  font-family: 'Inter', Arial, sans-serif;
  font-style: Regular;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #A0A0A0;
  width: 100%;
  margin-bottom: 5px;
}

.form__input {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: left;
  color: #000;
  background: none;
  border: none;
  width: 100%;
  padding-bottom: 10px;
  margin-bottom: 6px;
  border-bottom: 1px solid #E8E8E8;
  outline: none;
}

.form__input::placeholder {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  text-align: left;
  color: #8b8b8b;
}

.form__input-invalid {
  color: #ee3465;
}

.form__input-error {
  min-height: 12px;
  color: #ee3465;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
}

.form__button {
  width: 100%;
  margin: 0 auto;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  background: #2BE080;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  padding: 13px 0;
  transition: linear 0.5s;
}

.form__button:hover {
  opacity: 0.8;
  text-decoration: underline;
}

.form__button:disabled {
  background: #8b8b8b;
  cursor: not-allowed;
}

.form__button:disabled:hover {
  opacity: inherit;
  text-decoration: inherit;
}

.form__subtitle {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #8b8b8b;
}

.form__link {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #4285f4;
  text-decoration: none;
  transition: linear 0.5s;
}

.form__link:hover {
  opacity: 0.8;
  text-decoration: underline;
}