.about{
  margin: 0 auto;
  padding: 110px 70px;

}

.about__title{
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  white-space: nowrap;
}

.about__title::after {
  content: '';
  display: block;
  box-sizing: border-box;
  border-bottom: 1px solid #000;
  padding-top: 23px;
  margin-bottom: 70px;
}

.about__description {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  margin: 0 70px 110px;
  column-gap: 30px;
}

.about__description_title {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 26px;
  margin: 0;
}

.about__description_content {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin: 26px 0 0;
  padding: 0;
}

.about__duration {
  display: grid;
  grid-template-columns: 20% 80%;
  list-style-type: none;
  padding: 0;
  margin: 0 70px;
}

.about__duration-title {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  text-align: center;
  background: #F2F2F2;
  font-size: 14px;
  line-height: 2.5em;
  min-height: 36px;
  margin: 0;
}

.about__duration-title_active {
  background: #2BE080;
}

.about__duration-subtitle {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  margin: 14px 0 0 0;
  color: #A0A0A0;
}

@media screen and (max-width: 768px) {
  .about {
    padding: 90px 50px;
  }

  .about__duration{
    margin: 0;
  }

  .about__list {
    margin: 0 0 90px 0;
  }
}

@media screen and (max-width: 425px) {
  .about__list {
    grid-template-columns: 1fr;
    margin: 0 0 60px 0;
    gap: 56px;
  }
}

@media screen and (max-width: 400px) {
  .about {
    padding: 70px 18px;
  }

  .about__duration-title {
    font-size: 11px;
  }

  .about__duration-content {
    font-size: 11px;
    line-height: 13px;
  }
}

@media screen and (max-width: 320px) {
  .about__title {
    font-size: 18px;
    line-height: 22px;
  }

  .about__title::after {
    margin-bottom: 60px;
  }

  .about__description-title {
    font-size: 18px;
    margin: 0 0 16px 0;
  }

  .about__description_content {
    font-size: 11px;
    line-height: 16px;
    margin-bottom: 56px;
  }
  .about__description_content:last-of-type {
    margin-bottom: 60px;
  }

  .about__description {
    margin: 70px 18px;
    display: inline-block;
  }

  .about__duration {
  grid-template-columns: 30% 70%;
  }
}