.about{
  margin: 0 auto;
  padding: 110px 70px;

}

.about__title{
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
}

.about__title::after {
  content: '';
  display: block;
  box-sizing: border-box;
  border-bottom: 1px solid #000;
  padding-top: 23px;
  margin-bottom: 70px;
}

.about__description {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  margin: 0 70px 110px;

}

.about__description_title {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 26px;
  margin: 0;
}

.about__description_content {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin: 26px 0 0;
  padding: 0;
}

.about__duration {
  display: grid;
  grid-template-columns: 20% 80%;
  list-style-type: none;
  padding: 0;
  margin: 0 70px;
}

.about__duration-title {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  text-align: center;
  background: #F2F2F2;
  font-size: 14px;
  line-height: 2.5em;
  min-height: 36px;
  margin: 0;
}

.about__duration-title_active {
  background: #2BE080;
}

.about__duration-subtitle {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  margin: 14px 0 0 0;
  color: #A0A0A0;
}