.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 40px 0;
  padding: 0;
  column-gap: 12px;
}

.filter__checkbox {
  display: flex;
  align-self: center;
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
}

.filter__input {
  opacity: 0;
  width: 0;
  height: 0;
}

.filter__round {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 36px;
  padding: 6px;
  box-shadow: 0 3px 4px 1px #A0A0A0;
}

.filter__round::before {
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  left: 3px;
  top: 2px;
  bottom: 2px;
  background-color: #2BE080;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

.filter__input:checked + .filter__round {
  background-color: #FFF;
}

.filter__input:checked + .filter__round:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}

.filter__title {
  margin: 0;
  color: #000;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
}