.register {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
}

.register__container {
  max-width: 396px;
  width: 100%;
}

.register__logo {
  width: 38px;
  height: 38px;
  margin: 0 0 40px;
  padding: 0;
  display: flex;
  align-items: center;
  transition: transform linear 0.3s;
}

.register__logo:hover {
  transform: scale(1.1);
}

.register__title {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin: 0 0 40px;
}

.register__form {
  width: 100%;
}

.register__fieldset {
  border: none;
  margin: 0 0 24px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid #2BE080;
}

.register__fieldset:last-of-type {
  margin-bottom: 150px;
}

.register__label {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: #A0A0A0;
  width: 100%;
  margin-bottom: 5px;
}

.register__input {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: left;
  color: #000000;
  background: none;
  border: none;
  width: 100%;
  margin-bottom: 10px;
}

.register__input::placeholder {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  text-align: left;
  color: #A0A0A0;
}

.register__btn-submit {
  width: 100%;
  margin: 0 auto;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  background: #2BE080;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  padding: 13px 0;
  transition: linear 0.2s;
}

.register__btn-submit:hover {
  opacity: 0.8;
  text-decoration: underline;
}

.register__subtitle {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #A0A0A0;
}

.register__link {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #2BE080;
  text-decoration: none;
  transition: linear 0.2s;
}

.register__link:hover {
  opacity: 0.8;
  text-decoration: underline;
}