.about-me {
  margin: 0 auto;
  padding: 100px 70px;
  background-color: #FFF;
}

.about-me__cover {
  display: flex;
  column-gap: 50px;
}

.about-me__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
}

.about-me__title {
  margin: 0 auto;
  width: 100%;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  color: #000;
}

.about-me__title::after {
  content: '';
  display: block;
  box-sizing: border-box;
  border-bottom: 1px solid #000;
  padding-top: 23px;
  margin-bottom: 66px;
}

.about-me__text-title {
  width: 100%;
  max-width: 600px;
  margin: 0 0 18px;
  padding: 0;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
  color: #000;
}

.about-me__text-subtitle {
  width: 100%;
  max-width: 600px;
  margin: 0 0 26px 0;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  padding: 0;
  color: #000;
}

.about-me__text-description {
  width: 100%;
  max-width: 600px;
  margin: 0 0 100px 0;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  padding: 0;
  color: #000;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.about-me__list {
  max-width: 600px;
  display: flex;
  justify-content: flex-start;
  column-gap: 20px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.about-me__item {
  transition: linear 0.3s;
}

.about-me__item:hover {
  transform: scale(1.2);
}

.about-me__link {
  text-decoration: none;
  color: #000;
  transition: linear 0.3s;
}

.about-me__link:hover {
  text-decoration: underline;
}

.about-me__profile-photo {
  width: 100%;
  max-width: 270px;
  top: 217px;
  right: 70px;
  border-radius: 10px;
  object-fit: contain;
}

@media screen and (max-width: 768px) {
  .about-me {
    padding: 90px 50px;
  }

  .about-me__profile-photo {
    max-width: 255px;
  }

  .about-me__text-title {
    font-size: 40px;
    line-height: 40px;
  }

  .about-me__text-subtitle {
    font-size: 12px;
    line-height: 18px;
  }

  .about-me__text-description {
    font-size: 12px;
    line-height: 18px;
  }

  .about-me__link {
    font-size: 14px;
    line-height: 16px;
  }
}

@media screen and (max-width: 525px) {
  .about-me__cover {
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: center;
  }

  .about-me__profile-photo {
    margin-bottom: 40px;
    align-self: center;
  }

  .about-me__text-description {
    margin: 0 0 40px 0;
  }
}

@media screen and (max-width: 425px) {
  .about-me {
    padding: 70px 18px;
  }
  .about-me__profile-photo {
    max-width: 292px;
  }
}